{% extends 'base.html.twig' %}

{% block title %}Commandes{% endblock %}
{% block body %}
    <h1>{{ 'seeOrder.title'|trans }}</h1>
        <ul>
            <li>N{{ 'seeOrder.allOrder'|trans }}</li>
            <li>{{ 'seeOrder.inPrep'|trans }}</li>
            <li>{{ 'seeOrder.sent'|trans }}</li>
            <li>{{ 'seeOrder.deleted'|trans }}</li>
        </ul>

    <h2>{{ 'seeOrder.order'|trans }}</h2>
    {% for order in orders %}
        <li>{{ order.reference }}</li>
    {% endfor %}
{% endblock %}