{% extends "base.html.twig" %}

{% block title %}Portail admin{% endblock %}

{% block body %}
    <h1>{{ 'dashboard.title'|trans }}</h1>
    <a href="{{ path('addProduct') }}">{{ 'dashboard.addProduct'|trans }}</a>
    <a href="{{ path('addCategory') }}">{{'dashboard.addCategory'|trans}}</a>
    <a href="{{ path('seeOrder') }}">{{ 'dashboard.seeOrder'|trans }}</a>
{% endblock %}