{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    <h1>Inscription</h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    <a href="{{ path('login') }}">Retour</a>
{% endblock %}
