{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="formContainer">
    <div class="form">
        <form method="post">
            <label for="fName">{{'form.firstName'|trans}}</label>
            <input type="text" id="fName" name="_fName" required>

            <label for="lName">{{ 'form.lastName'|trans }}</label>
            <input type="text" id="lName" name="_lName" required>

            <label for="mail">{{ 'form.email'|trans}}</label>
            <input type="text" id="mail" name="_mail"  required>

            <label for="password">{{ 'form.password'|trans }}</label>
            <input type="password" id="password" name="_password" required>

            <button type="submit">{{ 'form.submit'|trans }}</button>
        </form>
        <a href={{ path('login') }}>{{ 'form.goBack'|trans }}</a>

    </div>
</div>

{% endblock %}
