<header>
    <img id="logo" src="{{ asset('assets/img/imageHeader.jpg') }}" alt="image d'instruments">

    <div class="header-content">
        <h1>NOM SOCIETE</h1>
        <nav>
            <a href="{{ path('home') }}">Accueil</a>
            <a href="{{ path('product_vent') }}">Instruments à vent</a>
            <a href="{{ path('product_corde') }}">Intsurments à corde</a>
            <a href="{{ path('product_percussion') }}">Percussions</a>
        </nav>
    </div>
    <div class="right-header">
        <p>Connexion</p>
        <img id="panier" src="{{ asset('assets/img/imageHeader.jpg')}}" alt="image panier">
    </div>
</header>