{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>{{ 'home.title'|trans }}</h1>
    <p>{{ 'home.presentation'|trans}} </p>
        <ul>
            <li>{{ 'home.company'|trans }}</li>
            <li>{{ 'home.services'|trans }}</li>
            <li>{{ 'home.instrumentType'|trans }}</li>
        </ul>
{% endblock %}